<div class="container">
  <div class="row">
    <div class="col-lg-6">

<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field pt-3">
    <h6><%= f.label :name %></h6>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field pt-3">
    <h6><%= f.label :password %></h6>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <h6 class="pt-3"><%= f.check_box :remember_me %>
      <%= f.label :remember_me %></h6>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<div class="pt-2">
<%= render "devise/shared/links" %>
</div>

    </div>
  </div>
</div>